__pycache__/action_model.cpython-312.pyc
__pycache__/emotion_model.cpython-312.pyc
__pycache__/fusion.cpython-312.pyc
__pycache__/semantic_gen.cpython-312.pyc
__pycache__/webcam_loader.cpython-312.pyc
